server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:payments;DB_CLOSE_DELAY=-1
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
