name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]  # opcional, pero recomendado

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 8
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "8"
          cache: "maven"

      - name: Build & Test
        run: mvn -B -U clean test
